.custom-label {
    top: 7rem;
    color: #AAAAAA !important;
    font-size: 11px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.42857;
    letter-spacing: unset;
    position: absolute;
}

.custom-label-2 {
    color: #AAAAAA !important;
    font-size: 11px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.42857;
    letter-spacing: unset;
    position: relative;
    top: 2.2rem;
}

.align-right {
    text-align: right;
}